body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    flex: 1;
}

.section-1{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    margin: 0;
    color: #F9FAF8;
    font-family: sans-serif;
}

.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: solid white; */
    margin-bottom: 50px;
}

.logo{
    font-size: 24px;
    /* color: #F9FAF8; */
    font-weight: bolder;
}

ul{
    list-style: none;
    display: flex;
    gap: 16px;
    font-size: 18px;
}
a{
    text-decoration: none;
    color: #E5E7EB;
}

.website-info{
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 100px;
}

.website-content{
    display: flex;
    flex-direction: column;
    width: 500px;
    flex-wrap: wrap;
}

.section-1-signup{
    align-self: start;
    background-color: rgb(1, 105, 191);
    border-radius: 10px;
    padding: 8px;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: bold;
    border: rgb(1, 105, 191);;
}

.website-header{
    font-size: 48px;
    font-weight: bolder;
}

p{
    color: #E5E7EB;
}

img{
    width: 500px;
    height: auto;
}


/* Section - 2 */

.section-2{
    display: flex;
    flex-direction: column;
}

.section-2-header{
    font-size: 36px;
    font-weight: bolder;
    /* border: solid green; */
    font-family: sans-serif;
    padding: 16px;
    color: #1F2937;
    text-align: center;
    margin-bottom: 24px;
}

.poke-container{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 60px;
}

.pokeball-cards{
    display: flex;
    /* width: 100px; */
    /* border: solid black; */
    justify-content: center;
    flex-wrap: wrap;
    width: 300px;
    padding: 5px 0px;
    
}

.poke-desc{
    color: #1F2937;
    text-align: center;
    margin-left: 0px;
}

.poke-image{
    width: 150px;
    height: 150px;
    border: solid #3882F6 4px;
    border-radius: 10px;
    flex: 0.75;
    margin-left: 0px;
}

/* Section - 3 */
.section-3{
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.quote-container{
    display: flex;
    margin: 40px 80px;
    /* border: solid black; */
    flex-wrap: wrap;
    width: 800px;
    justify-content: flex-end;
    text-align: center;
}

.quote-italicised{
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    margin-bottom: 0;
    /* border: solid black; */
}

.author{
    display: flex;
    font-weight: bold;
    /* flex: 1; */
    font-size: 24px;
    color: #1F2937;
    justify-content: flex-end;
    /* border: solid black; */
    padding-left: 0;
    margin-top: 0;
}

.section-4{
    display: flex;
    justify-content: center;
}

.call-container{
    display: flex;
    background-color: #3882F6;
    justify-content: space-evenly;
    margin: 70px 100px;
    padding: 20px;
    border-radius: 16px;
    flex: 1;
    align-items: center;
    font-family: sans-serif;
    font-size: 24px;
}

.call-content{
    display: flex;
    /* width: 50px; */
    /* flex-wrap: wrap; */
    /* border: solid black; */
    padding: 24px;
}

.action-signup > button{
    display: flex;
    align-items: center;
    border: solid white;
    border-radius: 10px;
    font-size: 24px;
    padding: 8px 36px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
}

.footer{
    background-color: #1F2937;
    display: flex;
    color: #F9FAF8;
    font-family: sans-serif;
    justify-content: center;
    flex: 1;
    padding: 48px;
    font-size: 24px;
}

.footer-container{
    display: flex;
    justify-content: center;  
}